@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.searchInput {
  border-radius: 4px;
  width: 256px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  padding: 8px 0 8px 16px;
  outline: transparent;
}

.searchInput:hover {
  border: 1px solid #000;
}

.searchInput:focus {
  border: 1px solid #4e75ff;
}

.searchInput:disabled {
  color: #808080;
  border: 1px solid #808080;
}

.js-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-left: 8px;
  background-color: #4e75ff;
  color: #fff;
  transition: background-color 250ms linear;
}

.js-btn:hover {
  background-color: #6c8cff;
}

.js-btn:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.loading {
  display: flex;
  gap: 10px;
  align-items: center;
  display: none;
}
.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
